<footer>
  <div class="ft-logo" style="display:flex;justify-content:center;margin-bottom:18px;"><img src="/images/CSM_2.0_Full_Lockup_White.svg" alt="Cincinnati School of Music" loading="lazy" style="width:min(260px,70vw);height:auto;margin:0 auto;" /></div>
  <div class="ft-nav">
    <a href="/piano-lessons">Piano</a>
    <a href="/voice-lessons">Voice</a>
    <a href="/guitar-lessons">Guitar</a>
    <a href="/drum-lessons">Drums</a>
    <a href="/violin-lessons">Strings</a>
    <a href="/flute-clarinet-lessons">Winds</a>
    <a href="/locations">Locations</a>
    <a href="/teachers">Teachers</a>
    <a href="/about-us">About</a>
    <a href="https://cincinnatischoolofmusic.opus1.io/w/book-your-intro-lesson">Book a Lesson</a>
  </div>
  <div class="ft-award"><em>*</em> Cincy Magazine Best of the North - Music Instruction - 10 Consecutive Years</div>
  <div class="ft-copy">&copy; 2026 Cincinnati School of Music LLC &nbsp;·&nbsp; <a href="/privacy-policy">Privacy Policy</a> &nbsp;·&nbsp; <a href="/sms-terms">SMS Terms</a></div>
</footer>
